body {
    background-color: rgb(50, 0, 100);
    font-family: MS Gothic;
}

header {
    width: 100%;
    height: 4em;
    border: 1px groove rgb(0, 0, 0);
    position: sticky;
    left: 0;
    top: 0;
    margin-bottom: 2px;
    box-shadow: 2px 2px 3px rgb(0, 0, 80);
    background-image: linear-gradient(to bottom right, rgb(76, 0, 255), rgb(162, 0, 255));
}

h1 {
    color: antiquewhite;
    font-size: 2.5em;
}

div {
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 2px 2px 3px rgb(0, 0, 80);
    background-image: linear-gradient(to bottom right, rgb(76, 0, 255), rgb(162, 0, 255));
}

.flex_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#blackscreen{
    width: 100%;
    height: 100%;
    opacity:1;
    transition:5s;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #000;
    border: none;
    box-shadow: none;
    background-image: none;
    z-index: 1;
}

#intro_message_box{
    opacity: 0;
    transition:5s;
    top: 50%;
    left: 50%;
    width: 550px;
    height: 550px;
    margin-left: -350px; 
    margin-top: -350px; 
    position: absolute;
    background-color: #000;
    border: 10px double antiquewhite;
    box-shadow: none;
    background-image: none;
    z-index: 0;
    color: antiquewhite;
    text-align: center;
    padding: 2em;
    font-size: x-large;
}

#row_1{
    background-image: none;
    border: none;
    box-shadow: none;
}
 
#row_2 {
    background-image: none;
    border: none;
    box-shadow: none;
    margin-top: 1em;
}

/*Center combat box*/

#combat_box {
    width: 45%;
    height: 25em;
    margin-left: auto;
}

#your_box{
    float: left;
}

#enemy_box{
    float: right;
}

#enemy_box,
#your_box {
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    width: 50%;
    background-image: none;
    background-color: rgb(4, 43, 65);
}

#title{
    background-image: linear-gradient(to bottom right, rgb(0, 158, 47), rgb(28, 100, 0));
}

#health {
    background-image: linear-gradient(to bottom right, rgb(179, 37, 66), rgb(151, 15, 42));;
    font-size: larger;
}

#stats {
    background-image: linear-gradient(to bottom right, rgb(46, 116, 185), rgb(21, 86, 151));;
    font-size: small;
}

#title,
#health,
#stats {
    border-top: none;
    box-shadow: none;
    width: 100%;
    height: 10%;
    margin-top: 0;
}

#character {
    background-image: none;
    width: 100%;
    height: 75%;
    margin-top: 0;
}

/*Fight Buttons*/

#buttons {
    background-image: none;
    box-shadow: none;
    border: none;
}

#Battle_Start {
  background-color: #d42929; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  margin-left: auto;
  margin-right: 2.5%;
  margin-top: 1.5em;
}

#Heal {
    background-color: #29d429; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    margin-right: auto;
    margin-left: 2.5%;
    margin-top: 1.5em;
}

/*Message Log*/

.mbar {
    width: 100%;
    color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5%;
    background-image: none;
}

#msg_log {
    width: 100%;
    height: 95%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-image: none;
    background-color: rgb(4, 43, 65);
}

#msg_header {
    width: 100%;
    color: antiquewhite;
    height: 5%;
}

#the_log{
    height: 25em;
    width: 25%;
    flex-direction: column;
    margin-right: 2%;
    margin-left: 0.5%;
}

/* Inventory and Stats*/

#inv {
    width: 25%;
    height: 25em;
    flex-direction: column;
    margin-left: 2%;
    margin-right: 0.5%;
    align-items: center;
    justify-content: flex-start;
}

#EXP {
    background-image: none;
    box-shadow: none;
    border: none;
    width: 100%;
    flex-direction: column;
}

#EXP_bar {
    align-self: flex-start;
    background-image: none;
    box-shadow: none;
    border: none;
    width: 0%;
    height: 100%;
    background-image: linear-gradient(to right, rgb(240, 187, 169), rgb(189, 75, 37));  
    grid-row: 1;
    grid-column: 1;
}

#EXP_ratio {
    color: antiquewhite;
    outline: black, 2px;
    margin: auto;
    grid-row: 1;
    grid-column: 1;
    text-shadow:
        1px 1px 2px #000,
		1px 1px 2px #000;
}

#EXP_bar_background {
    align-self: flex-start;
    background-image: none;
    box-shadow: none;
    border: none;
    width: 100%;
    height: 1.5em;
    display: grid;
}

#stats {
    height: 2em;
}

.stat_butt {
    height: 2em;
    width: 25%;
    margin: auto;
    float: left;
    border: 1px solid rgb(4, 43, 65);
    background-color: rgb(10, 50, 100);
    color: antiquewhite;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.stat_butt:hover {
    background-color: rgb(46, 91, 146)
}

#personal_inv_column_1,
#personal_inv_column_2{
    flex-direction: column;
    box-shadow: none;
    border: none;
    width: 50%;
}

#personal_inv {
    box-shadow: none;
    border: none;
    width: 100%;
}

.equipment_slot {
    background-image: none;
    box-shadow: none;
    width: 100%;
    height: 1.5em;
    text-align: center;
    background-color: rgb(144, 125, 182);
}

#backpack {
    width: 100%;
    height: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

#inv_header {
    width: 100%;
    box-shadow: none;
    border: none;
    background-image: none;
}

#holding_area {
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    box-shadow: none;
    border: none;
}

#backpack_column_1,
#backpack_column_2 {
    width: 50%;
    height: 100%;
    border: none;
    background-image: none;
    background-color: rgb(4, 43, 65);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.bbar {
    align-items: center;
    width: 99%;
    height: 1.5em;
    border: 1px solid black;
    box-shadow: none;
    background-image: none;
    display: flex;
    background-color: rgb(78, 107, 124);
    font-size: small;
}

.popup {
    display: none;
    position: absolute;
    width: 35em;
    padding: .5em;
    background-image: none;
    background-color: rgb(41, 40, 40);
    color: rgb(172, 172, 172);
    border: 3px ridge rgb(172, 172, 172);
}

/*Action Box*/

.action_grid{
    height: 100%;
    padding-left: .5em;
    padding-right: .5em;
    background-image: none;
    color: antiquewhite;
    border: none;
    box-shadow: none;
    display: flex;
    align-items: center;
}

.abar {
    width: 100%;
    height: 2.5em;
    align-items: center;
    justify-content: center;
    background-color: rgb(10, 50, 100);
    color: antiquewhite;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    border: 1px solid #000;
    font-family: MS Gothic;
    font-weight: bold;
}

.abar:hover {
    background-color: rgb(46, 91, 146)
}

#action_box {
    width: 25%;
    height: 25em;
    flex-direction: column;
    margin-left: 2%;
    margin-right: 0.5%;
    align-items: center;
    justify-content: flex-start;
    background-image: none;
    background-color: rgb(4, 43, 65);
}

#action_box_head{
    width: 100%;
    height: 4em;
    display: grid;
    grid-auto-columns: 50%;
    grid-auto-rows: 50%;
    background-image: none;
    background-color: rgb(10, 50, 100);
}

#location_header{
    grid-column: 1;
    grid-row: 1;
}

#season_weather{
    grid-column: 2;
    grid-row: 1;
    justify-content: right;
}

#Location{
    grid-column: 1;
    grid-row: 2;
}

#time_date{
    grid-column: 2;
    grid-row: 2;
    justify-content: right;
}

#action_main_box{
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#header_action_box {
    width: 100%;
    height: 20%;
    border: none;
    background-color: rgb(4, 43, 65);
    background-image: none;
    align-items: center;
    justify-content: center;
    color: antiquewhite;
    text-align: center;
}
/*Bookshelf*/

#bookshelf {
    width: 70%;
    height: 25em;
    margin-right: 2%;
    margin-left: 0.5%;
    background-image: url(./Assets/Bookself.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    justify-content: flex-start;
    align-items: flex-start;
}

.book {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 4.5em;
    height: 45%;
    border: none;
    box-shadow: none;
    position: relative;
}

#MAP {
    background-image: url(./Assets/MAP.png);
    left: 2.7%; 
    top: 3.7%;
}
/*Technical Bar*/

#technical_bar{
    position: fixed;
    background-color: gray;
    background-image: none;
    bottom: 0;
    left: 0;
    max-width: 1920px;
    width: 100%;
    justify-content: flex-start;
}

#save{
    margin-left: 1px;
    background-color: rgb(4, 43, 65);
    color: antiquewhite;
    font-family: MS Gothic;
    font-size: 16px;
    height: 100%;
    height: 1.5em;
}

#version{
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(4, 43, 65);
    color: antiquewhite;
    height: 1.5em;
    width: 5%;
    background-image: none;
    border-top: none;
    border-bottom: none;
    box-shadow: none;
    text-align: center;
}

#auto_save_check{
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(4, 43, 65);
    color: antiquewhite;
    background-image: none;
    height: 1.5em;
    border-top: none;
    border-bottom: none;
    box-shadow: none;
}

#delete_save{
    margin-left: auto;
    margin-right: 3px;
    background-color: rgb(4, 43, 65);
    color: antiquewhite;
    font-family: MS Gothic;
    height: 1.5em;
    font-size: 16px;
}